<!--
  Generated template for the PscFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Public Center</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content padding>
        <ion-list>
          <ion-item-divider>Foto Kejadian</ion-item-divider>
          <ion-item no-lines>
            <img [src]="base64Image" *ngIf="base64Image" />
            <ion-row>
              <ion-col width-20>
                <button ion-button icon-only small block (click)="takePicture()">
                  <ion-icon name="camera"></ion-icon>
                </button>
              </ion-col>
              <ion-col width-80>
                <button ion-button small block>
                  post
                </button>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item>
            <ion-label floating>Judul</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Kategori</ion-label>
            <ion-select [(ngModel)]="kategori"  >
              <ion-option  value="medis">Medis</ion-option>
              <ion-option  value="non-medis">Non-Medis</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="kategori"  [ngSwitch] = "kategori">
            <ion-label floating>Kejadian</ion-label>
            <ion-select [(ngModel)]="kategori_medis" *ngSwitchCase="'medis'"  >
              <ion-option value="9">Serangan Jantung</ion-option>
              <ion-option value="10">Serangan Stroke</ion-option>
              <ion-option value="11">Kecelakaan Lalu Lintas</ion-option>
              <ion-option value="12">Kegawatdaruratan Ibu-anak</ion-option>
              <ion-option value="13">Keracunan</ion-option>
              <ion-option value="14">Tidak Sadar</ion-option>
              <ion-option value="15">Kejang</ion-option>
              <ion-option value="0">Lain-lain</ion-option>
            </ion-select>

            <ion-select [(ngModel)]="kategori_nonmedis" *ngSwitchCase="'non-medis'">
              <ion-option value="24">Kebakaran</ion-option>
              <ion-option value="16">Bencana Alam</ion-option>
              <ion-option value="17">Pohon Tumbang</ion-option>
              <ion-option value="18">Banjir</ion-option>
              <ion-option value="19">Longsor</ion-option>
              <ion-option value="20">Gangguan Keamanan Dan Ketertiban</ion-option>
              <ion-option value="21">Kekerasan Rumah Tangga (KDRT)</ion-option>
              <ion-option value="22">Kekerasan Seksual</ion-option>
              <ion-option value="0">Lain-Lain</ion-option>
            </ion-select>
          </ion-item>

          <!-- <ion-item *ngIf ='!medis'>
            <ion-label floating>Kategori Non-Medis</ion-label>
            <ion-select [(ngModel)]="kategori_nonmedis">
              <ion-option value="24">Kebakaran</ion-option>
              <ion-option value="16">Bencana Alam</ion-option>
              <ion-option value="17">Pohon Tumbang</ion-option>
              <ion-option value="18">Banjir</ion-option>
              <ion-option value="19">Longsor</ion-option>
              <ion-option value="20">Gangguan Keamanan Dan Ketertiban</ion-option>
              <ion-option value="21">Kekerasan Rumah Tangga (KDRT)</ion-option>
              <ion-option value="22">Kekerasan Seksual</ion-option>
              <ion-option value="0">Lain-Lain</ion-option>
            </ion-select>
          </ion-item> -->

          <ion-item>
            <ion-label floating>Kecamatan</ion-label>
            <ion-select [(ngModel)]="kecamatan" >
              <ion-option value="1">Klojen</ion-option>
              <ion-option value="2">Belimbing</ion-option>
              <ion-option value="3">Kedung Kandang</ion-option>
              <ion-option value="4">Lowokwaru</ion-option>
              <ion-option value="5">Sukun</ion-option>

            </ion-select>
          </ion-item>

          <ion-item *ngIf="kecamatan"  [ngSwitch] = "kecamatan">
            <ion-label floating>Kelurahan</ion-label>
            <ion-select [(ngModel)]="kelKlojen"  *ngSwitchCase="'1'">
              <ion-option value="30001">KASIN</ion-option>
              <ion-option value="30002">SUKOHARJO</ion-option>
              <ion-option value="30003">KIDUL DALEM</ion-option>
              <ion-option value="30004">KAUMAN</ion-option>
              <ion-option value="30005">BARENG</ion-option>
              <ion-option value="30006">GADINGKASRI</ion-option>
              <ion-option value="30007">ORO ORO DOWO</ion-option>
              <ion-option value="30008">KLOJEN</ion-option>
              <ion-option value="30009">RAMPAL CELAKET</ion-option>
              <ion-option value="30010">SAMAAN</ion-option>
              <ion-option value="30011">PENANGGUNGAN</ion-option>

            </ion-select>

            <ion-select [(ngModel)]="kelBlimbing"  *ngSwitchCase="'2'">
              <ion-option value="40001">JODIPAN</ion-option>
              <ion-option value="40002">POLEHAN</ion-option>
              <ion-option value="40003">KESATRIAN</ion-option>
              <ion-option value="40004">BUNULREJO</ion-option>
              <ion-option value="40005">PURWANTORO</ion-option>
              <ion-option value="40006">PANDANWANGI</ion-option>
              <ion-option value="40007">BLIMBING</ion-option>
              <ion-option value="40008">PURWODADI</ion-option>
              <ion-option value="40009">POLOWIJEN</ion-option>
              <ion-option value="40010">ARJOSARI</ion-option>
              <ion-option value="40011">BALEARJOSARI</ion-option>
            </ion-select>

            <ion-select [(ngModel)]="kelKedungKandang"  *ngSwitchCase="'3'">
              <ion-option value="10001">ARJOWINANGUN</ion-option>
              <ion-option value="10002">TLOGOWARU</ion-option>
              <ion-option value="10003">WONOKOYO</ion-option>
              <ion-option value="10004">BUMIAYU</ion-option>
              <ion-option value="10005">BURING</ion-option>
              <ion-option value="10006">MERGOSONO</ion-option>
              <ion-option value="10007">KOTALAMA</ion-option>
              <ion-option value="10008">KEDUNGKANDANG</ion-option>
              <ion-option value="10009">SAWOJAJAR</ion-option>
              <ion-option value="10010">MADYOPURO</ion-option>
              <ion-option value="10011">LESANPURO</ion-option>
              <ion-option value="10012">CEMOROKANDANG</ion-option>
            </ion-select>

            <ion-select [(ngModel)]="kelLowokwaru"  *ngSwitchCase="'4'">
              <ion-option value="50001">MERJOSARI</ion-option>
              <ion-option value="50002">DINOYO</ion-option>
              <ion-option value="50003">SUMBERSARI</ion-option>
              <ion-option value="50004">KETAWANGGEDE</ion-option>
              <ion-option value="50005">JATIMULYO</ion-option>
              <ion-option value="50006">LOWOKWARU</ion-option>
              <ion-option value="50007">TULUSREJO</ion-option>
              <ion-option value="50008">MOJOLANGU</ion-option>
              <ion-option value="50009">TUNJUNGSEKAR</ion-option>
              <ion-option value="50010">TASIKMADU</ion-option>
              <ion-option value="50011">TUNGGULWULUNG</ion-option>
              <ion-option value="50012">TLOGOMAS</ion-option>
            </ion-select>

            <ion-select [(ngModel)]="kelSukun"  *ngSwitchCase="'5'">
              <ion-option value="20001">KEBONSARI</ion-option>
              <ion-option value="20002">GADANG</ion-option>
              <ion-option value="20003">CIPTOMULYO</ion-option>
              <ion-option value="20004">SUKUN</ion-option>
              <ion-option value="20005">BANDUNGREJOSARI</ion-option>
              <ion-option value="20006">BAKALAN KRAJAN</ion-option>
              <ion-option value="20007">MULYOREJO</ion-option>
              <ion-option value="20008">BANDULAN</ion-option>
              <ion-option value="20009">TANJUNGREJO</ion-option>
              <ion-option value="20010">PISANG CANDI</ion-option>
              <ion-option value="20011">KARANG BESUKI</ion-option>

            </ion-select>
          </ion-item>



          <ion-item>
            <ion-label floating>Nama Pelapor</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Alamat Kejadian</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>No. HP</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Laporan</ion-label>
            <ion-input type="textbox"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Foto</ion-label>
            <ion-input type="image"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Lain-Lain</ion-label>
            <ion-input type="textbox"></ion-input>
          </ion-item>

        </ion-list>
</ion-content>
