<!--


  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Form 4/4</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="confirmTb()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
      <ion-item-divider color="light">Riwayat Tes HIV</ion-item-divider>
        <ion-item>
        <ion-label stacked>Tanggal Terakhir Tes HIV</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.riwayat_tes_hiv_tanggal_tes_hiv_terakhir" ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked>Hasil Tes</ion-label>
        <ion-input type = "text" [(ngModel)]="value.riwayat_tes_hiv_hasil_tes" ></ion-input>
      </ion-item>

      <ion-item-divider color="light">Layanan Konseling dan Tes Sukarela</ion-item-divider>
          <ion-item>
          <ion-label stacked> Tanggal Pretest Konseling</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.layanan_konseling_tanggal_pretest_konseling"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked> Tanggal Dianjurkan</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.layanan_konseling_tanggal_dianjurkan"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked> Tanggal Test HIV</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.layanan_konseling_tanggal_test_hiv"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked> Tempat Tes</ion-label>
          <ion-input type = "text" [(ngModel)]="value.layanan_konseling_tempat_test"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked> Hasil Tes</ion-label>
          <ion-input type = "text" [(ngModel)]="value.layanan_konseling_hasil_test"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked> Tanggal Pasca Tes Konseling</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.layanan_konseling_tanggal_pasca_test_konseling"></ion-datetime>
          </ion-item>

        <ion-item-divider color="light">Khusus Area Sentinel TB-HIV Surveilans</ion-item-divider>
          <ion-item>
          <ion-label stacked> Tanggal Pretest Konseling</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.area_sentinel_tanggal_pretest_konseling"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked> Tanggal Dianjurkan</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.area_sentinel_tanggal_dianjurkan"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked> Tanggal Test HIV</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.area_sentinel_tanggal_test_hiv"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked> Hasil Tes</ion-label>
          <ion-input type = "text" [(ngModel)]="value.area_sentinel_hasil_test"></ion-input>
          </ion-item>

        <ion-item-divider color="light">Layanan PDP</ion-item-divider>
          <ion-item>
          <ion-label stacked> Tanggal Rujukan</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.layanan_pdp_tanggal_rujukan_pdp"></ion-datetime>
          </ion-item>
          <ion-item>
          <ion-label stacked> Tanggal Mulai ART</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.layanan_pdp_tanggal_mulai_art"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked> Tanggal Mulai PPK</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.layanan_pdp_tanggal_mulai_ppk"></ion-datetime>
          </ion-item>

      </ion-list>

</ion-content>
