<!--
  Generated template for the BalitaOptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-list no-lines>
  <button ion-item (click)="editBalita()">Edit Balita</button>
  <button ion-item (click)="deleteBalita()">Hapus Balita</button>
</ion-list>