<!--
  Generated template for the BumilForm2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Form Ibu Hamil 2/4</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="nextForm()" [disabled]="disableCheck()">
        Next
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Nama Ibu</ion-label>
      <ion-input type="text" [(ngModel)]="value.nama_ibu"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Nama Suami</ion-label>
      <ion-input type="text" [(ngModel)]="value.nama_suami"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Alamat</ion-label>
      <ion-input type="text" [(ngModel)]="value.alamat"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label inline>RT</ion-label>
            <ion-input type="text" [(ngModel)]="value.rt"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label inline>RW</ion-label>
            <ion-input type="text" [(ngModel)]="value.rw"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label floating>No. NIK Ibu</ion-label>
      <ion-input type="number" [(ngModel)]="value.no_nik_ibu"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Umur Ibu</ion-label>
      <ion-input type="number" [(ngModel)]="value.umur_ibu"></ion-input>
    </ion-item>

    <ion-item>
    </ion-item>

  </ion-list>

</ion-content>
