<!--
  Generated template for the BumilPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-list no-lines>
  <button ion-item (click)="searchBumil()">Search</button>
  <button ion-item (click)="addBumil()">Tambah Ibu Hamil</button>
</ion-list>
