<!--
  Generated template for the BalitaFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Form Balita</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="inputBalita()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Nama</ion-label>
      <ion-input type="text" [(ngModel)]="balita.nama_balita"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nama Orang Tua</ion-label>
      <ion-input type="text" [(ngModel)]="balita.nama_orang_tua"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Jenis Kelamin</ion-label>
      <ion-select [(ngModel)]="balita.idjeniskelamin">
        <ion-option value="1">Laki-laki</ion-option>
        <ion-option value="2">Perempuan</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="currentUser.data.isadmin">
      <ion-label floating>Puskesmas</ion-label>
      <ion-select [(ngModel)]="balita.idpuskesmas">
        <ion-option value="1" [selected]="balita.idpuskesmas==1">ARJUNO</ion-option>
        <ion-option value="2" [selected]="balita.idpuskesmas==2">BARENG</ion-option>
        <ion-option value="3" [selected]="balita.idpuskesmas==3">RAMPAL CELAKET</ion-option>
        <ion-option value="4" [selected]="balita.idpuskesmas==4">CISADEA</ion-option>
        <ion-option value="5" [selected]="balita.idpuskesmas==5">PANDANWANGI</ion-option>
        <ion-option value="6" [selected]="balita.idpuskesmas==6">KENDALKEREP</ion-option>
        <ion-option value="7" [selected]="balita.idpuskesmas==7">KEDUNGKANDANG</ion-option>
        <ion-option value="8" [selected]="balita.idpuskesmas==8">ARJOWINANGUN</ion-option>
        <ion-option value="9" [selected]="balita.idpuskesmas==9">GRIBIG</ion-option>
        <ion-option value="10" [selected]="balita.idpuskesmas==10">JANTI</ion-option>
        <ion-option value="11" [selected]="balita.idpuskesmas==11">CIPTOMULYO</ion-option>
        <ion-option value="12" [selected]="balita.idpuskesmas==12">MULYOREJO</ion-option>
        <ion-option value="13" [selected]="balita.idpuskesmas==13">DINOYO</ion-option>
        <ion-option value="14" [selected]="balita.idpuskesmas==14">KENDALSARI</ion-option>
        <ion-option value="15" [selected]="balita.idpuskesmas==15">MOJOLANGU</ion-option>
        <ion-option value="16" [selected]="balita.idpuskesmas==16">POLOWIJEN</ion-option>
        <ion-option value="17" [selected]="balita.idpuskesmas==17">SUKUN</ion-option>
        <ion-option value="99" [selected]="balita.idpuskesmas==99">LAIN-LAIN</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>
