<!--
  Generated template for the TbDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="deleteTb()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
    <ion-title>Detail Pasien Tuberculosis</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editTb()"><ion-icon name="create"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">IDENTITAS PASIEN</ion-item-divider>
    <ion-item>
      <div><b>NIK Pasien</b></div>
      <div>{{ detail.nik }}</div>
    </ion-item>
    <ion-item>
      <div><b>Nama Pasien</b></div>
      <div>{{ detail.nama_pasien }}</div>
    </ion-item>
    <ion-item>
      <div><b>Tanggal Lahir </b>{{ detail.tanggal_lahir }}</div>
      <div><b>Umur </b>{{ detail.umur }}</div>
    </ion-item>
    <!-- <ion-item>
      <div><b>Tipe Pasien </b>{{ detail.tipe_pasien }}</div>
    </ion-item> -->
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">DATA MEDIS</ion-item-divider>
    <ion-item>
      <div><b>Berat Badan (kg) </b>{{ detail.bb_kg }}</div>
      <div><b>Tinggi (cm) </b>{{ detail.tb_cm }}</div>
    </ion-item>
    <ion-item>
      <div ><b>Total Scoring pada TB Anak: </b>{{ detail.total_scoring_pada_tb_anak}}</div>
    </ion-item>
    <ion-item>
      <div><b>Kode Panduan Regimen</b></div>
      <div>{{ detail.kode_paduan_rejimen_yang_diberikan }}</div>
    </ion-item>
    <ion-item>
      <div><b>Klasifikasi Penyakit</b></div>
      <div>{{ detail.klasifikasi_penyakit}}</div>
    </ion-item>
    <ion-item>
      <ion-col><b>Tipe Pasien </b>{{ detail.tipe_pasien }}</ion-col>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">DATA LABORAT</ion-item-divider>
    <ion-item>
      <div><b>Sebelum Pengobatan </b></div>
      <div><p>No. Reg Lab </p>{{ detail.sebelum_pengobatan_no_reg_lab }}</div>
      <div><p>Hasil Dahak </p>{{ detail.sebelum_pengobatan_hasil_dahak }}</div>
    </ion-item>
    <ion-item>
      <div><b>Akhir Tahap Awal </b></div>
      <div><p>No. Reg Lab </p>{{ detail.akhir_tahap_awal_no_reg_lab }}</div>
      <div><p>Hasil Dahak </p>{{ detail.akhir_tahap_awal_hasil_dahak }}</div>
    </ion-item>
    <ion-item>
      <div><b>Akhir Sisipan </b></div>
      <div><p>No. Reg Lab </p>{{ detail.akhir_sisipan_no_reg_lab }}</div>
      <div><p>Hasil Dahak </p>{{ detail.akhir_sisipan_hasil_dahak }}</div>
    </ion-item>
    <ion-item>
      <div><b>Akhir Bulan ke 5/7 </b></div>
      <div><p>No. Reg Lab </p>{{ detail.akhir_bulan_ke_5_7_no_reg_lab }}</div>
      <div><p>Hasil Dahak </p>{{ detail.akhir_bulan_ke_5_7_hasil_dahak }}</div>
    </ion-item>
    <ion-item>
      <div><b>Akhir Pengobatan </b></div>
      <div><p>No. Reg Lab </p>{{ detail.akhir_pengobatan_no_reg_lab }}</div>
      <div><p>Hasil Dahak </p>{{ detail.akhir_pengobatan_hasil_dahak }}</div>
    </ion-item>
    <ion-item>
      <div><b>Hasil Pengobatan </b></div>
      <ion-col><p>Sembuh    : </p>{{ detail.hasil_pengobatan_sembuh }}</ion-col>
      <ion-col><p>Lengkap   : </p>{{ detail.hasil_pengobatan_lengkap }}</ion-col>
      <ion-col><p>Default   : </p>{{ detail.hasil_pengobatan_default }}</ion-col>
      <ion-col><p>Gagal     : </p>{{ detail.hasil_pengobatan_gagal }}</ion-col>
      <ion-col><p>Meninggal : </p>{{ detail.hasil_pengobatan_meninggal }}</ion-col>
      <ion-col><p>Pindah    : </p>{{ detail.hasil_pengobatan_pindah }}</ion-col>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">DATA TES</ion-item-divider>
    <ion-item>
      <div><b>Riwayat Tes HIV </b></div>
      <div><p>Tanggal Terakhir Tes HIV </p>{{ detail.riwayat_tes_hiv_tanggal_tes_hiv_terakhir }}</div>
      <div><p>Hasil Tes </p>{{ detail.riwayat_tes_hiv_hasil_tes }}</div>
    </ion-item>
    <ion-item>
      <div><b>Akhir Tahap Awal </b></div>
      <div><p>No. Reg Lab </p>{{ detail.akhir_tahap_awal_no_reg_lab }}</div>
      <div><p>Hasil Dahak </p>{{ detail.akhir_tahap_awal_hasil_dahak }}</div>
    </ion-item>
    <ion-item>
      <div><b>Akhir Sisipan </b></div>
      <div><p>No. Reg Lab </p>{{ detail.akhir_sisipan_no_reg_lab }}</div>
      <div><p>Hasil Dahak </p>{{ detail.akhir_sisipan_hasil_dahak }}</div>
    </ion-item>
    <ion-item>
      <div><b>Akhir Bulan ke 5/7 </b></div>
      <div><p>No. Reg Lab </p>{{ detail.akhir_bulan_ke_5_7_no_reg_lab }}</div>
      <div><p>Hasil Dahak </p>{{ detail.akhir_bulan_ke_5_7_hasil_dahak }}</div>
    </ion-item>
    <ion-item>
      <div><b>Akhir Pengobatan </b></div>
      <div><p>No. Reg Lab </p>{{ detail.akhir_pengobatan_no_reg_lab }}</div>
      <div><p>Hasil Dahak </p>{{ detail.akhir_pengobatan_hasil_dahak }}</div>
    </ion-item>
    <ion-item>
      <div><b>Hasil Pengobatan </b></div>
      <ion-col><p>Sembuh    : </p>{{ detail.hasil_pengobatan_sembuh }}</ion-col>
      <ion-col><p>Lengkap   : </p>{{ detail.hasil_pengobatan_lengkap }}</ion-col>
      <ion-col><p>Default   : </p>{{ detail.hasil_pengobatan_default }}</ion-col>
      <ion-col><p>Gagal     : </p>{{ detail.hasil_pengobatan_gagal }}</ion-col>
      <ion-col><p>Meninggal : </p>{{ detail.hasil_pengobatan_meninggal }}</ion-col>
      <ion-col><p>Pindah    : </p>{{ detail.hasil_pengobatan_pindah }}</ion-col>
    </ion-item>
  </ion-item-group>
</ion-content>
