<!--
  Generated template for the TbSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let tb of tbList" (click)="getDetail(tb)">
      <h2>{{ tb.nama_pasien }}</h2>
      <p>{{ tb.umur }}</p>
      <!-- <ion-note item-end>{{ bumil.tanggal}}</ion-note> -->
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
