<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data Tuberculosis</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <button ion-item *ngFor="let tb of tbList "   (click)="getDetail(tb)">
      <h2>{{ tb.nama_pasien }}</h2>

      <p>{{ tb.umur }} tahun</p>
      <!-- <ion-note item-end>{{ bumil.tanggal}}</ion-note> -->
    </button>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
