<!--
  Generated template for the GiziburukListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data Gizi Buruk</ion-title>
    <ion-buttons [ngSwitch]="list" end>
      <button *ngSwitchCase="'giziburuk'" ion-button icon-only (click)="giziburukPopover($event)"><ion-icon name="more"></ion-icon></button>
      <button *ngSwitchCase="'balita'" ion-button icon-only (click)="balitaPopover($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary" no-border-top>
    <ion-segment [(ngModel)]="list">
      <ion-segment-button class="segment" value="giziburuk">
        Gizi Buruk
      </ion-segment-button>
      <ion-segment-button class="segment" value="balita">
        Balita
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="list">

    <div *ngSwitchCase="'giziburuk'">
      <ion-list>
        <button ion-item *ngFor="let gizbur of giziburukList" (click)="getDetail(gizbur)">
          <h2>{{ gizbur.nama_balita }}</h2>
          <p>{{ gizbur.nama_orang_tua }}</p>
          <ion-note item-end>{{ gizbur.tanggal}}</ion-note>
        </button>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngSwitchCase="'balita'">
      <ion-list>
        <button ion-item *ngFor="let balita of balitaList" (click)="balitaOptions($event, balita)">
          <h2>{{ balita.nama_balita }}</h2>
          <p>{{ balita.nama_orang_tua }}</p>
          <ion-note item-end>{{ balita.jeniskelamin}}</ion-note>
        </button>
      </ion-list>
      <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
    </div>

  </div>

</ion-content>
