<!--
  Generated template for the GiziburukPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-list no-lines>
  <button ion-item (click)="searchGiziburuk()">Search</button>
  <button ion-item (click)="addGiziburuk()">Tambah Gizi Buruk</button>
</ion-list>
