<!--
  Generated template for the ChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Grafik Data</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>

	<ion-item>
      <ion-label inline>Sub SKPD</ion-label>
      <ion-select [(ngModel)]="value.idsubskpd" >
        <ion-option value="1">Data Bumil</ion-option>
        <ion-option value="2">Data Gizi Buruk</ion-option>
        <ion-option value="3">Data Tuberculosis</ion-option>
      </ion-select>
    </ion-item>

	<ion-item *ngIf = "value.idsubskpd">
      <ion-label floating>Berdasarkan</ion-label>
      <ion-select [(ngModel)]="value.idberdasarkan">
        <ion-option value="1">Tahun</ion-option>
        <ion-option value="2">Bulan</ion-option>
      </ion-select>
  </ion-item>

  <ion-item no-line *ngIf = "value.idsubskpd">
    <ion-label inline>Seluruh Tahun</ion-label>
    <ion-checkbox [(ngModel)]="directive.checkTahun"></ion-checkbox>
  </ion-item>

	<ion-item *ngIf = "value.idsubskpd">
      <ion-label floating >Tahun</ion-label>
      <ion-datetime displayFormat="YYYY" [(ngModel)]="value.tahun" [disabled]="directive.checkTahun"></ion-datetime>
  </ion-item>

  <ion-item *ngIf = "value.idberdasarkan == 2">
      <ion-label floating>Bulan</ion-label>
      <ion-datetime displayFormat="MMM" [(ngModel)]="value.bulan" ></ion-datetime>
  </ion-item>

    <ion-item *ngIf = "value.idsubskpd">
      <ion-label floating>Parameter</ion-label>
      <ion-select [(ngModel)]="value.parameter">
        <ion-option value="1">Keseluruhan</ion-option>
        <ion-option value="Kelurahan">Kelurahan</ion-option>
        <ion-option value="Kecamatan">Kecamatan</ion-option>
        <ion-option value="Puskesmas">Puskesmas</ion-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button class="submit-btn" full type="submit" (click)="chartUpdate()" >View Chart</button>
        <!-- <button ion-button class="register-btn" block clear (click)="createAccount()">Forgot Your Password?</button> [disabled]="!registerForm.form.valid"-->
      </ion-col>
    </ion-row>

   <ion-card padding>
    <ion-card-header >
      
    </ion-card-header>
    <ion-card-content>
      <canvas  #barCanvas ></canvas>
    </ion-card-content>
  </ion-card>
   
  </ion-list>



</ion-content>
