<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data Ibu Hamil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <button ion-item *ngFor="let bumil of bumilList" (click)="getDetail(bumil)">
      <h2>{{ bumil.nama_ibu }}</h2>
      <p>{{ bumil.nama_suami }}</p>
      <ion-note item-end>{{ bumil.tanggal}}</ion-note>
    </button>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
