<ion-menu id="menu" [content]="content">
  <ion-header>
    <!-- <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar> -->
    <img src="assets/img/LogoMenkes.png">
    <h4>SIMKESMA</h4>
  </ion-header>

  <ion-content>
    <ion-list>
      <button no-lines menuClose ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" item-start></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
