// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.form-footer-toolbar {
  .toolbar-background {
    background: transparent;
  }
}

.no-scroll {
  .scroll-content {
    overflow: hidden !important;
  }
}

ion-menu {
  ion-header {
    background-color: color($colors, primary);
    img {
      padding-left: 110px;
      padding-right: 110px;
      margin-top: 50px;
      margin-bottom: 0px;
    }
    h4 {
      text-align: center;
      margin-bottom: 20px;
      color: white;
    }
  }
}

.activeHighlight {
  background-color: color($colors, primary);
  color: white;
  font-weight: bold;
}
