<!--
  Generated template for the BumilForm3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Form Ibu Hamil 3/4</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="nextForm()">
        Next
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label inline>HPHT</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.hpht"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label inline>Tafsiran Persalinan</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.tafsiran_persalinan"></ion-datetime>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Minggu Kehamilan</ion-label>
            <ion-input type="number" [(ngModel)]="value.kehamilan_minggu"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Hamil ke-</ion-label>
            <ion-input type="number" min="1" [(ngModel)]="value.hamil_ke"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>BB</ion-label>
            <ion-input type="number" [(ngModel)]="value.bb"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>TB</ion-label>
            <ion-input type="number" [(ngModel)]="value.tb"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>LILA/IMT</ion-label>
            <ion-input type="number" [(ngModel)]="value.lila_imt"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>HB/GOLDA</ion-label>
            <ion-input type="text" [(ngModel)]="value.hb_golda"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Tensi</ion-label>
            <ion-input type="text" [(ngModel)]="value.tensi"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label floating>Pendeteksi Resiko (NAKES)</ion-label>
      <ion-input type="number" [(ngModel)]="value.pendeteksi_resiko_nakes"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Pendeteksi Resiko (Masyarakat)</ion-label>
      <ion-input type="number" [(ngModel)]="value.pendeteksi_resiko_masyarakat"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Faktor Resiko</ion-label>
      <ion-input type="text" [(ngModel)]="value.faktor_resiko"></ion-input>
    </ion-item>

    <ion-item>
    </ion-item>

  </ion-list>

</ion-content>
