<!--
  Generated template for the BumilForm4Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Form Ibu Hamil 4/4</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="confirmBumil()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Jarak Kehamilan</ion-label>
      <ion-input type="text" [(ngModel)]="value.jarak_kehamilan"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Status Imunisasi TT</ion-label>
      <ion-input type="text" [(ngModel)]="value.imunisasi_tt_status_imunisasi_tt"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Pemberian Imunisasi TT</ion-label>
      <ion-input type="text" [(ngModel)]="value.imunisasi_tt_pemberian_imunisasi_tt"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>ANC Terpadu (Albumin)</ion-label>
      <ion-input type="text" [(ngModel)]="value.anc_terpadu_albumin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>ANC Terpadu (Reduksi)</ion-label>
      <ion-input type="text" [(ngModel)]="value.anc_terpadu_reduksi"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>ANC Terpadu (GDS)</ion-label>
      <ion-input type="text" [(ngModel)]="value.anc_terpadu_gds"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>ANC Terpadu (HBSAG)</ion-label>
      <ion-input type="text" [(ngModel)]="value.anc_terpadu_hbsag"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>ANC Terpadu (HIV)</ion-label>
      <ion-input type="text" [(ngModel)]="value.anc_terpadu_hiv"></ion-input>
    </ion-item>
    <ion-item>
    </ion-item>

  </ion-list>

</ion-content>
