 <!--


  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Form 2/4</ion-title>
    <ion-buttons end>
      <button ion-button icon-right clear (click)="nextForm()" >
        Next
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
      <ion-list>
        <ion-item-divider color="light">Fasilitas Layanan Kesehatan</ion-item-divider>
      <ion-item>
          <ion-label floating>Nama</ion-label>
          <ion-select [(ngModel)]="value.idfayankes">
            <ion-option value="1">puskesmas pandanwangi</ion-option>
            <ion-option value="2">puskesmas cisadea</ion-option>
            <ion-option value="3">puskesmas kendalkerep</ion-option>
            <ion-option value="4">puskesmas kedungkandang</ion-option>
            <ion-option value="5">puskesmas gribig</ion-option>
            <ion-option value="6">puskesmas arjowinangun</ion-option>
            <ion-option value="7">puskesmas arjuno</ion-option>
            <ion-option value="8">puskesmas bareng</ion-option>
            <ion-option value="9">puskesmas rampalcelaket</ion-option>
            <ion-option value="10">puskesmas janti</ion-option>
            <ion-option value="11">puskesmas ciptomulyo</ion-option>
            <ion-option value="12">puskesmas mulyorejo</ion-option><ion-option value="13">puskesmas dinoyo</ion-option>
            <ion-option value="14">puskesmas mojolangu</ion-option><ion-option value="15">puskesmas kendalsari</ion-option>
            <ion-option value="16">puskesmas polowijen</ion-option><ion-option value="17">rumah sakit tk.II.dr.Soepraoen</ion-option>
            <ion-option value="18">rumah sakit umum daerah dr.Saiful Anwar</ion-option><ion-option value="19">rumah sakit islam unisma</ion-option>
            <ion-option value="20">rumah sakit islam aisyah malang</ion-option><ion-option value="21">rumah sakit panti nirmala</ion-option>
            <ion-option value="22">lapas lowokwaru</ion-option><ion-option value="99">lain-lain</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Jenis</ion-label>
          <ion-select [(ngModel)]="value.idjenis_fayankes">
            <ion-option value="1">Rumah Sakit</ion-option>
            <ion-option value="2">Puskesmas</ion-option>
            <ion-option value="99">Lain-lain</ion-option>
          </ion-select>
        </ion-item>


        <ion-item-divider color="light">Fisik</ion-item-divider>
        <ion-item>

          <ion-label inline>Berat Badan(kg)</ion-label>
          <ion-input type="number" [(ngModel)]="value.bb_kg"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label inline>Tinggi Badan(cm)</ion-label>
          <ion-input type="number" [(ngModel)]="value.tb_cm"></ion-input>

        </ion-item>


        <ion-item>
          <ion-label floating>Total Scoring pada TB Anak</ion-label>
          <ion-input type="text" [(ngModel)]="value.total_scoring_pada_tb_anak"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Kode Panduan Regimen</ion-label>
          <ion-select [(ngModel)]="value.idkode_paduan_rejimen_yang_diberikan">
            <ion-option value="1">Kategori 1</ion-option>
            <ion-option value="2">Kategori 2</ion-option>
            <ion-option value="3">Kategori anak dengan 3 obat</ion-option>
            <ion-option value="4">Kategori anak dengan 4 obat</ion-option>
            <ion-option value="99">Lain-lain</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Klasifikasi Penyakit</ion-label>
          <ion-select [(ngModel)]="value.idklasifikasi_penyakit">
            <ion-option value="1">Paru</ion-option>
            <ion-option value="2">Ekstra Paru</ion-option>

            <ion-option value="99">Lain-lain</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Tipe Pasien</ion-label>
          <ion-select [(ngModel)]="value.idtipe_pasien">
            <ion-option value="1">Baru</ion-option>
            <ion-option value="2">Kambuh</ion-option>
            <ion-option value="3">Pindahan</ion-option>
            <ion-option value="4">Pengobatan Setelah Default</ion-option>
            <ion-option value="99">Lain-lain</ion-option>
          </ion-select>
        </ion-item>

        </ion-list>

</ion-content>
