<!--
  Generated template for the BalitaPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-list no-lines>
  <button ion-item (click)="addBalita()">Tambah Balita</button>
</ion-list>
