<!--
  Generated template for the BumilDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="deleteBumil()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
    <ion-title>Detail Ibu Hamil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editBumil()"><ion-icon name="create"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">IDENTITAS</ion-item-divider>
    <ion-item>
      <div class=""><b>NIK Ibu</b></div>
      <div>{{ detail.no_nik_ibu }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Nama Ibu</b></div>
      <div>{{ detail.nama_ibu }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Nama Suami</b></div>
      <div>{{ detail.nama_suami }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Alamat</b></div>
      <div>{{ detail.alamat }}</div>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col><b>RT </b>{{ detail.rt }}</ion-col>
        <ion-col><b>RW </b>{{ detail.rw }}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <b>Umur</b> {{ detail.umur_ibu }}
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">DATA PUSKESMAS</ion-item-divider>
    <ion-item>
      <div class=""><b>Puskesmas</b></div>
      <div>{{ detail.puskesmas }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Kelurahan</b></div>
      <div>{{ detail.kelurahan }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Kecamatan</b></div>
      <div>{{ detail.kecamatan }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Kota</b></div>
      <div>{{ detail.kota }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Propinsi</b></div>
      <div>{{ detail.propinsi }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Tempat Rencana Persalinan</b></div>
      <div>{{ detail.rencana_persalinan_tempat }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Biaya Rencana Persalinan</b></div>
      <div>{{ detail.rencana_persalinan_biaya }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Kendaraan Rencana Persalinan</b></div>
      <div>{{ detail.rencana_persalinan_kendaraan }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Keterangan BPJS</b></div>
      <div>{{ detail.keterangan_bpjs }}</div>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">DATA MEDIS</ion-item-divider>
    <ion-item>
      <div class=""><b>HPHT</b></div>
      <div>{{ detail.hpht }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Tafsiran Persalinan</b></div>
      <div>{{ detail.tafsiran_persalinan }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Minggu Kehamilan</b></div>
      <div>{{ detail.kehamilan_minggu }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Hamil ke</b></div>
      <div>{{ detail.hamil_ke }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Berat Badan</b></div>
      <div>{{ detail.bb }} KG</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Tinggi Badan</b></div>
      <div>{{ detail.tb }} CM</div>
    </ion-item>
    <ion-item>
      <div class=""><b>LILA/IMT</b></div>
      <div>{{ detail.lila_imt }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>HB/GOLDA</b></div>
      <div>{{ detail.hb_golda }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Tensi</b></div>
      <div>{{ detail.tensi }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>HB/GOLDA</b></div>
      <div>{{ detail.hb_golda }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Faktor Resiko</b></div>
      <div>{{ detail.faktor_resiko }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Jarak Kehamilan</b></div>
      <div>{{ detail.jarak_kehamilan }}</div>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">PENDETEKSI RESIKO</ion-item-divider>
    <ion-item>
      <div class=""><b>NAKES</b></div>
      <div>{{ detail.pendeteksi_resiko_nakes }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Masyarakat</b></div>
      <div>{{ detail.pendeteksi_resiko_masyarakat }}</div>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">IMUNISASI TT</ion-item-divider>
    <ion-item>
      <div class=""><b>Status</b></div>
      <div>{{ detail.imunisasi_tt_status_imunisasi_tt }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Pemberian</b></div>
      <div>{{ detail.imunisasi_tt_pemberian_imunisasi_tt }}</div>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">ANC TERPADU</ion-item-divider>
    <ion-item>
      <div class=""><b>Albumin</b></div>
      <div>{{ detail.anc_terpadu_albumin }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Reduksi</b></div>
      <div>{{ detail.anc_terpadu_reduksi }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>GDS</b></div>
      <div>{{ detail.anc_terpadu_gds }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>HBSAG</b></div>
      <div>{{ detail.anc_terpadu_hbsag }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>HIV</b></div>
      <div>{{ detail.anc_terpadu_hiv }}</div>
    </ion-item>
  </ion-item-group>
  <p>Tanggal : {{ detail.tanggal }}</p>
  <p>Username : {{ detail.username }}</p>

</ion-content>
