<!--
  Generated template for the BumilSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let bumil of bumilList" (click)="getDetail(bumil)">
      <h2>{{ bumil.nama_balita }}</h2>
      <p>{{ bumil.nama_orang_tua }}</p>
      <ion-note item-end>{{ bumil.tanggal}}</ion-note>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
