<!--


  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Form Tuberculosis</ion-title>
    <ion-buttons end>
      <button ion-button icon-right clear (click)="nextForm()" >
        Next
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-list>
        <ion-item>
          <ion-label floating>ID Pasien</ion-label>
          <ion-input type="text" [(ngModel)]="value.id_pasien"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Validasi Data</ion-label>
          <ion-select [(ngModel)]="value.idvalidasi_data">
            <ion-option value="1">Valid</ion-option>
            <ion-option value="2">Tidak Valid</ion-option>
            <!-- <ion-option value="other">lain-lain</ion-option> -->
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>NIK</ion-label>
          <ion-input type="text" [(ngModel)]="value.nik"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Nama pasien</ion-label>
          <ion-input type="text" [(ngModel)]="value.nama_pasien"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Jenis Kelamin</ion-label>
          <ion-select [(ngModel)]="value.idjeniskelamin">
            <ion-option value="1">Laki-laki</ion-option>
            <ion-option value="2">Perempuan</ion-option>
            <!-- <ion-option value="other">lain-lain</ion-option> -->
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label inline>Tanggal Lahir</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.tanggal_lahir"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label inline>Umur</ion-label>
          <ion-input type="number" [(ngModel)]="value.umur"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Nomor Registrasi Kabupaten/Kota</ion-label>
          <ion-input type="text" [(ngModel)]="value.nomor_registrasi_kabupaten_kota"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Kelurahan</ion-label>
          <ion-select [(ngModel)]="value.idkelurahan">
          <ion-option value="1">LAIN-LAIN</ion-option>
          <ion-option value="10001">ARJOWINANGUN</ion-option>
          <ion-option value="10002">TLOGOWARU</ion-option>
          <ion-option value="10003">WONOKOYO</ion-option>
          <ion-option value="10004">BUMIAYU</ion-option>
          <ion-option value="10005">BURING</ion-option>
          <ion-option value="10006">MERGOSONO</ion-option>
          <ion-option value="10007">KOTALAMA</ion-option>
          <ion-option value="10008">KEDUNGKANDANG</ion-option>
          <ion-option value="10009">SAWOJAJAR</ion-option>
          <ion-option value="10010">MADYOPURO</ion-option>
          <ion-option value="10011">LESANPURO</ion-option>
          <ion-option value="10012">CEMOROKANDANG</ion-option>
          <ion-option value="20001">KEBONSARI</ion-option>
          <ion-option value="20002">GADANG</ion-option>
          <ion-option value="20003">CIPTOMULYO</ion-option>
          <ion-option value="20004">SUKUN</ion-option>
          <ion-option value="20005">BANDUNGREJOSARI</ion-option>
          <ion-option value="20006">BAKALAN KRAJAN</ion-option>
          <ion-option value="20007">MULYOREJO</ion-option>
          <ion-option value="20008">BANDULAN</ion-option>
          <ion-option value="20009">TANJUNGREJO</ion-option>
          <ion-option value="20010">PISANG CANDI</ion-option>
          <ion-option value="20011">KARANG BESUKI</ion-option>
          <ion-option value="30001">KASIN</ion-option>
          <ion-option value="30002">SUKOHARJO</ion-option>
          <ion-option value="30003">KIDUL DALEM</ion-option>
          <ion-option value="30004">KAUMAN</ion-option>
          <ion-option value="30005">BARENG</ion-option>
          <ion-option value="30006">GADINGKASRI</ion-option>
          <ion-option value="30007">ORO ORO DOWO</ion-option>
          <ion-option value="30008">KLOJEN</ion-option>
          <ion-option value="30009">RAMPAL CELAKET</ion-option>
          <ion-option value="30010">SAMAAN</ion-option>
          <ion-option value="30011">PENANGGUNGAN</ion-option>
          <ion-option value="40001">JODIPAN</ion-option>
          <ion-option value="40002">POLEHAN</ion-option>
          <ion-option value="40003">KESATRIAN</ion-option>
          <ion-option value="40004">BUNULREJO</ion-option>
          <ion-option value="40005">PURWANTORO</ion-option>
          <ion-option value="40006">PANDANWANGI</ion-option>
          <ion-option value="40007">BLIMBING</ion-option>
          <ion-option value="40008">PURWODADI</ion-option>
          <ion-option value="40009">POLOWIJEN</ion-option>
          <ion-option value="40010">ARJOSARI</ion-option>
          <ion-option value="40011">BALEARJOSARI</ion-option>
          <ion-option value="50001">MERJOSARI</ion-option>
          <ion-option value="50002">DINOYO</ion-option>
          <ion-option value="50003">SUMBERSARI</ion-option>
          <ion-option value="50004">KETAWANGGEDE</ion-option>
          <ion-option value="50005">JATIMULYO</ion-option>
          <ion-option value="50006">LOWOKWARU</ion-option>
          <ion-option value="50007">TULUSREJO</ion-option>
          <ion-option value="50008">MOJOLANGU</ion-option>
          <ion-option value="50009">TUNJUNGSEKAR</ion-option>
          <ion-option value="50010">TASIKMADU</ion-option>
          <ion-option value="50011">TUNGGULWULUNG</ion-option>
          <ion-option value="50012">TLOGOMAS</ion-option>
        </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Dirujuk Oleh</ion-label>
          <ion-input type="text" [(ngModel)]="value.dirujuk_oleh"></ion-input>
        </ion-item>

        <ion-item *ngIf="currentUser.data.isadmin">
          <ion-label floating>Puskesmas</ion-label>
          <ion-select [(ngModel)]="value.idpuskesmas">
            <ion-option value="1" [selected]="value.idpuskesmas==1">ARJUNO</ion-option>
            <ion-option value="2" [selected]="value.idpuskesmas==2">BARENG</ion-option>
            <ion-option value="3" [selected]="value.idpuskesmas==3">RAMPAL CELAKET</ion-option>
            <ion-option value="4" [selected]="value.idpuskesmas==4">CISADEA</ion-option>
            <ion-option value="5" [selected]="value.idpuskesmas==5">PANDANWANGI</ion-option>
            <ion-option value="6" [selected]="value.idpuskesmas==6">KENDALKEREP</ion-option>
            <ion-option value="7" [selected]="value.idpuskesmas==7">KEDUNGKANDANG</ion-option>
            <ion-option value="8" [selected]="value.idpuskesmas==8">ARJOWINANGUN</ion-option>
            <ion-option value="9" [selected]="value.idpuskesmas==9">GRIBIG</ion-option>
            <ion-option value="10" [selected]="value.idpuskesmas==10">JANTI</ion-option>
            <ion-option value="11" [selected]="value.idpuskesmas==11">CIPTOMULYO</ion-option>
            <ion-option value="12" [selected]="value.idpuskesmas==12">MULYOREJO</ion-option>
            <ion-option value="13" [selected]="value.idpuskesmas==13">DINOYO</ion-option>
            <ion-option value="14" [selected]="value.idpuskesmas==14">KENDALSARI</ion-option>
            <ion-option value="15" [selected]="value.idpuskesmas==15">MOJOLANGU</ion-option>
            <ion-option value="16" [selected]="value.idpuskesmas==16">POLOWIJEN</ion-option>
            <ion-option value="17" [selected]="value.idpuskesmas==17">SUKUN</ion-option>
            <ion-option value="99" [selected]="value.idpuskesmas==99">LAIN-LAIN</ion-option>
          </ion-select>
        </ion-item>
        <!-- Fasilitas Layanan Kesehatan -->


        </ion-list>


      <!-- <ion-slide style="background-color: blue">
        <h2>Slide 2</h2>
        <ion-list>

        <ion-item>
          <fieldset>
            <legend>Fisik</legend>
          <ion-label stacked>Berat Badan(kg)</ion-label>
          <ion-input type="number"></ion-input>

          <ion-label stacked>Tinggi Badan(cm)</ion-label>
          <ion-input type="number"></ion-input>
        </fieldset>
        </ion-item>

        <ion-item>
          <ion-label stacked>Total Scoring pada TB Anak</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Kode Panduan Regimen yang Diberikan</ion-label>
          <ion-select>
            <ion-option value="1">Kategori 1</ion-option>
            <ion-option value="2">Kategori 2</ion-option>
            <ion-option value="3">Kategori anak dengan 3 obat</ion-option>
            <ion-option value="4">Kategori anak dengan 4 obat</ion-option>
            <ion-option value="99">Lain-lain</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Klasifikasi Penyakit</ion-label>
          <ion-select>
            <ion-option value="1">Paru</ion-option>
            <ion-option value="2">Ekstra Paru</ion-option>

            <ion-option value="99">Lain-lain</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Tipe Pasien</ion-label>
          <ion-select>
            <ion-option value="1">Baru</ion-option>
            <ion-option value="2">Kambuh</ion-option>
            <ion-option value="3">Pindahan</ion-option>
            <ion-option value="4">Pengobatan Setelah Default</ion-option>
            <ion-option value="99">Lain-lain</ion-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <fieldset>
            <legend>Sebelum Pengobatan</legend>
          <ion-label stacked> No. Reg Lab</ion-label>
          <ion-input type = "number"></ion-input>

          <ion-label stacked> Hasil Dahak</ion-label>
          <ion-input type = "text"></ion-input>
        </fieldset>
        </ion-item>


        <ion-item>
          <fieldset>
            <legend>Akhir Tahap Awal</legend>
          <ion-label stacked> No. Reg Lab</ion-label>
          <ion-input type = "number"></ion-input>

          <ion-label stacked> Hasil Dahak</ion-label>
          <ion-input type = "text"></ion-input>
        </fieldset>
        </ion-item>


        <ion-item>
          <fieldset>
            <legend> Akhir Sisipan</legend>
          <ion-label stacked> No. Reg Lab</ion-label>
          <ion-input type = "number"></ion-input>

          <ion-label stacked> Hasil Dahak</ion-label>
          <ion-input type = "text"></ion-input>
        </fieldset>
        </ion-item>


        <ion-item>
          <fieldset>
          <legend> Akhir Bulan ke 5/7</legend>
          <ion-label stacked> No. Reg Lab</ion-label>
          <ion-input type = "number"></ion-input>

          <ion-label stacked> Hasil Dahak</ion-label>
          <ion-input type = "text"></ion-input>
        </fieldset>
        </ion-item>


        <ion-item>
          <fieldset>
          <legend> Akhir Pengobatan</legend>
          <ion-label stacked> No. Reg Lab</ion-label>
          <ion-input type = "number"></ion-input>

          <ion-label stacked> Hasil Dahak</ion-label>
          <ion-input type = "text"></ion-input>
        </fieldset>
        </ion-item>

        <ion-item>
        <fieldset>
        <legend>Hasil Pengobatan</legend>
          <ion-label stacked> Sembuh</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          <ion-label stacked> Lengkap</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          <ion-label stacked> Default</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          <ion-label stacked> Gagal</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          <ion-label stacked> Meninggal</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          <ion-label stacked> Pindah</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
        </fieldset>
        </ion-item>

        <ion-item>
        <fieldset>
          <legend>Riwayat Tes HIV</legend>
          <ion-label stacked>Tanggal Terakhir Tes HIV</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          <ion-label stacked> Hasil Tes</ion-label>
          <ion-input type = "text"></ion-input>
        </fieldset>
        </ion-item>

        <ion-item>
          <fieldset>
            <legend>Layanan Konseling dan Tes Sukarela</legend>
            <ion-label stacked> Tanggal Pretest Konseling</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
            <ion-label stacked> Tanggal Dianjurkan</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
            <ion-label stacked> Tanggal Test HIV</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
            <ion-label stacked> Tempat Tes</ion-label>
            <ion-input type = "text"></ion-input>
            <ion-label stacked> Hasil Tes</ion-label>
            <ion-input type = "text"></ion-input>
            <ion-label stacked> Tanggal Pasca Tes Konseling</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          </fieldset>
        </ion-item>


        <ion-item>
          <fieldset>
            <legend>Khusus Area Sentinel TB-HIV Surveilans</legend>
            <ion-label stacked> Tanggal Pretest Konseling</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
            <ion-label stacked> Tanggal Dianjurkan</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
            <ion-label stacked> Tanggal Test HIV</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
            <ion-label stacked> Hasil Tes</ion-label>
            <ion-input type = "text"></ion-input>
          </fieldset>

        </ion-item>


        <ion-item>
          <fieldset>
            <legend>Layanan PDP</legend>
            <ion-label stacked> Tanggal Rujukan</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
            <ion-label stacked> Tanggal Mulai ART</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
            <ion-label stacked> Tanggal Mulai PPK</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
          </fieldset>
        </ion-item>

      </ion-list>

    </ion-slide>

    <ion-slide style="background-color: red">
      <h2>Slide 3</h2>
    </ion-slide>
-->


</ion-content>
