<!--
  Generated template for the GiziburukForm2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Form Gizi Buruk 2/2</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="confirmGiziburuk()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Balita</ion-label>
      <ion-select [(ngModel)]="value.idbalita">
        <ion-option *ngFor="let item of balita" value="{{ item.idbalita }}">{{ item.nama_balita }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Alamat</ion-label>
      <ion-input [(ngModel)]="value.alamat" type="text"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label inline>RT</ion-label>
            <ion-input [(ngModel)]="value.rt" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label inline>RW</ion-label>
            <ion-input [(ngModel)]="value.rw" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Umur (Bulan)</ion-label>
            <ion-input [(ngModel)]="value.umur_bulan" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Berat Badan (Kg)</ion-label>
            <ion-input [(ngModel)]="value.bb_kg" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Tinggi Badan (Cm)</ion-label>
            <ion-input [(ngModel)]="value.tb_cm" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Bulan Masuk (Angka)</ion-label>
            <ion-input [(ngModel)]="value.bulan_masuk" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Bulan Keluar (Angka)</ion-label>
            <ion-input [(ngModel)]="value.bulan_keluar" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label>Keluarga (GAKIN)</ion-label>
      <!-- <ion-checkbox [(ngModel)]="value.status_keluarga_gakin"></ion-checkbox> -->
      <ion-input type="hidden" [(ngModel)]="value.status_keluarga_gakin" value="1"></ion-input>
      <!-- <ion-input type="hidden" [(ngModel)]="value.status_keluarga_nongakin"></ion-input> -->
    </ion-item>
  </ion-list>
</ion-content>
