<!--
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Form 3/4</ion-title>
    <ion-buttons end>
      <button ion-button icon-right clear (click)="nextForm()" >
        Next
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>


      <ion-list>

        <ion-item-divider color="light">Sebelum Pengobatan</ion-item-divider>
        <ion-item>
          <ion-label inline> No. Reg Lab</ion-label>
          <ion-input type = "number" [(ngModel)]="value.sebelum_pengobatan_no_reg_lab"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label inline> Hasil Dahak</ion-label>
          <ion-input type = "text" [(ngModel)]="value.sebelum_pengobatan_hasil_dahak"></ion-input>
        </ion-item>

        <ion-item-divider color="light">Akhir Tahap Awal</ion-item-divider>
        <ion-item>
          <ion-label inline> No. Reg Lab</ion-label>
          <ion-input type = "number" [(ngModel)]="value.akhir_tahap_awal_no_reg_lab"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label inline> Hasil Dahak</ion-label>
          <ion-input type = "text" [(ngModel)]="value.akhir_tahap_awal_hasil_dahak"></ion-input>
          </ion-item>


        <ion-item-divider color="light">Akhir Sisipan</ion-item-divider>
        <ion-item>
          <ion-label inline> No. Reg Lab</ion-label>
          <ion-input type = "number" [(ngModel)]="value.akhir_sisipan_no_reg_lab"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label inline> Hasil Dahak</ion-label>
          <ion-input type = "text" [(ngModel)]="value.akhir_sisipan_hasil_dahak"></ion-input>
        </ion-item>


        <ion-item-divider color="light">Akhir Bulan ke 5/7</ion-item-divider>
        <ion-item>
          <ion-label inline> No. Reg Lab</ion-label>
          <ion-input type = "number" [(ngModel)]="value.akhir_bulan_ke_5_7_no_reg_lab"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label inline> Hasil Dahak</ion-label>
          <ion-input type = "text" [(ngModel)]="value.akhir_bulan_ke_5_7_hasil_dahak"></ion-input>
        </ion-item>


        <ion-item-divider color="light">Akhir Pengobatan</ion-item-divider>
        <ion-item>
          <ion-label inline> No. Reg Lab</ion-label>
          <ion-input type = "number"[(ngModel)]="value.akhir_pengobatan_no_reg_lab"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label inline> Hasil Dahak</ion-label>
          <ion-input type = "text" [(ngModel)]="value.akhir_pengobatan_hasil_dahak"></ion-input>
          </ion-item>

        <ion-item-divider color="light">Hasil Pengobatan</ion-item-divider>
        <ion-item>
          <ion-label inline> Sembuh</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.hasil_pengobatan_sembuh"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label inline> Lengkap</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.hasil_pengobatan_lengkap"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label inline> Default</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.hasil_pengobatan_default"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label inline> Gagal</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.hasil_pengobatan_gagal"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label inline> Meninggal</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.hasil_pengobatan_meninggal"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label inline> Pindah</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.hasil_pengobatan_pindah"></ion-datetime>
          </ion-item>


        </ion-list>

</ion-content>
