<!--
  Generated template for the DataMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Maps</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-grid>
      <!-- <ion-row> -->
        <!-- <ion-col col-6> -->
          <ion-item>
            <ion-label>Data</ion-label>
            <ion-select [(ngModel)]="data" (ionChange)="change()">
              <ion-option value="bumil">Ibu Hamil</ion-option>
              <ion-option value="tb">TB</ion-option>
              <ion-option value="giziburuk">Gizi Buruk</ion-option>
            </ion-select>
          </ion-item>
        <!-- </ion-col>
        <ion-col col-6> -->
          <ion-item>
            <ion-label>Tingkat</ion-label>
            <ion-select [(ngModel)]="tingkat" (ionChange)="change()">
              <ion-option value="KECAMATAN">Kecamatan</ion-option>
              <ion-option value="KELURAHAN">Kelurahan</ion-option>
            </ion-select>
          </ion-item>
        <!-- </ion-col> -->
      <!-- </ion-row> -->
    </ion-grid>
  </ion-list>

  <div #map id="map"></div>

</ion-content>
