<!--
  Generated template for the GiziburukDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detail Gizi Buruk</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="deleteGiziburuk()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="editGiziburuk()"><ion-icon name="create"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">IDENTITAS</ion-item-divider>
    <ion-item>
      <div><b>Nama Balita</b></div>
      <div>{{ detail.nama_balita }}</div>
    </ion-item>
    <ion-item>
      <div><b>Nama Orang Tua</b></div>
      <div>{{ detail.nama_orang_tua }}</div>
    </ion-item>
    <ion-item>
      <div><b>Umur</b></div>
      <div>{{ detail.umur_bulan }} bulan</div>
    </ion-item>
    <ion-item>
      <div><b>Jenis Kelamin</b></div>
      <div>{{ detail.idjeniskelamin==1? 'Laki-laki':'Perempuan' }}</div>
    </ion-item>
    <ion-item>
      <div><b>Alamat</b></div>
      <div>{{ detail.alamat }}</div>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col><b>RT </b>{{ detail.rt }}</ion-col>
        <ion-col><b>RW </b>{{ detail.rw }}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col><b>Berat Badan </b>{{ detail.bb_kg }}</ion-col>
        <ion-col><b>Tinggi Badan </b>{{ detail.tb_cm }}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col><b>Bulan Masuk </b>{{ detail.bulan_masuk }}</ion-col>
        <ion-col><b>Bulan keluar </b>{{ detail.bulan_keluar }}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <div><b>Status Keluarga GAKIN</b></div>
      <div>{{ detail.status_keluarga_gakin }}</div>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">DATA PUSKESMAS</ion-item-divider>
    <ion-item>
      <div class=""><b>Puskesmas</b></div>
      <div>{{ detail.puskesmas }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Nomor Kelurahan</b></div>
      <div>{{ detail.no_kelurahan }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Kelurahan</b></div>
      <div>{{ detail.kelurahan }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Kecamatan</b></div>
      <div>{{ detail.kecamatan }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Kota</b></div>
      <div>{{ detail.kota }}</div>
    </ion-item>
    <ion-item>
      <div class=""><b>Propinsi</b></div>
      <div>{{ detail.propinsi }}</div>
    </ion-item>
  </ion-item-group>
  <p>Tanggal : {{ detail.tanggal }}</p>
  <p>Username : {{ detail.username }}</p>
</ion-content>
