<!--
  Generated template for the GiziburukFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Form Gizi Buruk 1/2</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="nextForm()">
        Next
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label inline>Tanggal</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="value.tanggal"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Nomor Kelurahan</ion-label>
      <ion-input type="number" [(ngModel)]="value.no_kelurahan"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Kelurahan</ion-label>
      <ion-select [(ngModel)]="value.idkelurahan">
        <ion-option value="10001">ARJOWINANGUN</ion-option>
        <ion-option value="10002">TLOGOWARU</ion-option>
        <ion-option value="10003">WONOKOYO</ion-option>
        <ion-option value="10004">BUMIAYU</ion-option>
        <ion-option value="10005">BURING</ion-option>
        <ion-option value="10006">MERGOSONO</ion-option>
        <ion-option value="10007">KOTALAMA</ion-option>
        <ion-option value="10008">KEDUNGKANDANG</ion-option>
        <ion-option value="10009">SAWOJAJAR</ion-option>
        <ion-option value="10010">MADYOPURO</ion-option>
        <ion-option value="10011">LESANPURO</ion-option>
        <ion-option value="10012">CEMOROKANDANG</ion-option>
        <ion-option value="20001">KEBONSARI</ion-option>
        <ion-option value="20002">GADANG</ion-option>
        <ion-option value="20003">CIPTOMULYO</ion-option>
        <ion-option value="20004">SUKUN</ion-option>
        <ion-option value="20005">BANDUNGREJOSARI</ion-option>
        <ion-option value="20006">BAKALAN KRAJAN</ion-option>
        <ion-option value="20007">MULYOREJO</ion-option>
        <ion-option value="20008">BANDULAN</ion-option>
        <ion-option value="20009">TANJUNGREJO</ion-option>
        <ion-option value="20010">PISANG CANDI</ion-option>
        <ion-option value="20011">KARANG BESUKI</ion-option>
        <ion-option value="30001">KASIN</ion-option>
        <ion-option value="30002">SUKOHARJO</ion-option>
        <ion-option value="30003">KIDUL DALEM</ion-option>
        <ion-option value="30004">KAUMAN</ion-option>
        <ion-option value="30005">BARENG</ion-option>
        <ion-option value="30006">GADINGKASRI</ion-option>
        <ion-option value="30007">ORO ORO DOWO</ion-option>
        <ion-option value="30008">KLOJEN</ion-option>
        <ion-option value="30009">RAMPAL CELAKET</ion-option>
        <ion-option value="30010">SAMAAN</ion-option>
        <ion-option value="30011">PENANGGUNGAN</ion-option>
        <ion-option value="40001">JODIPAN</ion-option>
        <ion-option value="40002">POLEHAN</ion-option>
        <ion-option value="40003">KESATRIAN</ion-option>
        <ion-option value="40004">BUNULREJO</ion-option>
        <ion-option value="40005">PURWANTORO</ion-option>
        <ion-option value="40006">PANDANWANGI</ion-option>
        <ion-option value="40007">BLIMBING</ion-option>
        <ion-option value="40008">PURWODADI</ion-option>
        <ion-option value="40009">POLOWIJEN</ion-option>
        <ion-option value="40010">ARJOSARI</ion-option>
        <ion-option value="40011">BALEARJOSARI</ion-option>
        <ion-option value="50001">MERJOSARI</ion-option>
        <ion-option value="50002">DINOYO</ion-option>
        <ion-option value="50003">SUMBERSARI</ion-option>
        <ion-option value="50004">KETAWANGGEDE</ion-option>
        <ion-option value="50005">JATIMULYO</ion-option>
        <ion-option value="50006">LOWOKWARU</ion-option>
        <ion-option value="50007">TULUSREJO</ion-option>
        <ion-option value="50008">MOJOLANGU</ion-option>
        <ion-option value="50009">TUNJUNGSEKAR</ion-option>
        <ion-option value="50010">TASIKMADU</ion-option>
        <ion-option value="50011">TUNGGULWULUNG</ion-option>
        <ion-option value="50012">TLOGOMAS</ion-option>
        <ion-option value="1">LAIN-LAIN</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="currentUser.data.isadmin">
      <ion-label floating>Puskesmas</ion-label>
      <ion-select [(ngModel)]="value.idpuskesmas">
        <ion-option value="1" [selected]="value.idpuskesmas==1">ARJUNO</ion-option>
        <ion-option value="2" [selected]="value.idpuskesmas==2">BARENG</ion-option>
        <ion-option value="3" [selected]="value.idpuskesmas==3">RAMPAL CELAKET</ion-option>
        <ion-option value="4" [selected]="value.idpuskesmas==4">CISADEA</ion-option>
        <ion-option value="5" [selected]="value.idpuskesmas==5">PANDANWANGI</ion-option>
        <ion-option value="6" [selected]="value.idpuskesmas==6">KENDALKEREP</ion-option>
        <ion-option value="7" [selected]="value.idpuskesmas==7">KEDUNGKANDANG</ion-option>
        <ion-option value="8" [selected]="value.idpuskesmas==8">ARJOWINANGUN</ion-option>
        <ion-option value="9" [selected]="value.idpuskesmas==9">GRIBIG</ion-option>
        <ion-option value="10" [selected]="value.idpuskesmas==10">JANTI</ion-option>
        <ion-option value="11" [selected]="value.idpuskesmas==11">CIPTOMULYO</ion-option>
        <ion-option value="12" [selected]="value.idpuskesmas==12">MULYOREJO</ion-option>
        <ion-option value="13" [selected]="value.idpuskesmas==13">DINOYO</ion-option>
        <ion-option value="14" [selected]="value.idpuskesmas==14">KENDALSARI</ion-option>
        <ion-option value="15" [selected]="value.idpuskesmas==15">MOJOLANGU</ion-option>
        <ion-option value="16" [selected]="value.idpuskesmas==16">POLOWIJEN</ion-option>
        <ion-option value="17" [selected]="value.idpuskesmas==17">SUKUN</ion-option>
        <ion-option value="99" [selected]="value.idpuskesmas==99">LAIN-LAIN</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>
