<!--
  Generated template for the TbPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-list no-lines>
  <button ion-item (click)="searchTb()">Search</button>
  <button ion-item (click)="addTb()">Tambah Pasien</button>
</ion-list>
